{% include "header.html" %}

<!-- Page Header -->
<header class="masthead"
        style="background-image: url('https://images.unsplash.com/photo-1610816931663-624afaeb7d41?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>About Me.</h1>
                    <span class="subheading"><strong>Here's a little introduction about me.</strong></span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>
                Hi, I'm Cassa. Its 2.18am in the clock at time of writing this, needless to mention I am quite sleepy right now.
                My brain is not working in its full potential to write something catchy to grab your attention.
                Please kindly come back to this page again to see if my lazy ass has actually updated this. ok. bye.
                I need to go before my mom comes and bang my head on this keyboard for staying up this latejjsbdhqubdiequeqwgeui183qdiwjpskakjdabksnalkcamcaweejhgqq
            </p>
        </div>
    </div>
</div>

<hr>

{% include "footer.html" %}